@import '/src/variables.css';

.searchbar-wrapper{
    display: flex;
    border: solid #a3a3a3 1px;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 247, 247);
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.25);
}

.searchbar-divisao button{
    border: none;
    width: 200px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    font-weight: 700;
    padding: 10px 20px;
    cursor: pointer;
}

.searchbar-divisao{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.searchbar-divisao:last-child {
    margin-right: 0;
}

.searchbar-divisao span{
    color: #686868;
    font-weight: 700;
    margin-bottom: 5px;
}

.searchbar-barradepesquisa {
    background-color: #fff;
    width: 450px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px #b6b6b6;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.searchbar-barradepesquisa svg{
    font-size: 20px;
    color: #8d8d8d;
    margin: 15px;
}

.searchbar-barradepesquisa input{
    border: none;
    background-color: none;
    height: 100%;
    width: 100%;
    outline: none;
}

.searchbar-divisao select{
    font-size: 16px;
    width: 100px;
    padding: 5px 5px;
    border: solid 1px #b4b4b4;
    border-radius: 5px;
}

.hiddensecret{
    visibility: hidden;
}