.modal-overlay{
    position: absolute;
    z-index: 1;
    background-color: rgba(65, 65, 65, 0.68);
    width: 100%;
    top: -21px;
    height: 1080px;
    display: flex;
    justify-content: center;
}

.modal-wrapper {
    margin-top: 50px;
    background-color: rgb(238, 238, 238);
    border-radius: 5px;
    padding: 20px;
    overflow: hidden;
}

.modal-content{
    display: flex;
    flex-direction: column;
}

.modal-header{
    display: flex;
    flex-direction: row-reverse;
}


.modal-header svg {
    font-size: 25px;
}

.modal-header svg:hover{
    opacity: 0.5;
    cursor: pointer;
}

.modal-children {
    flex-grow: 3;
}